a:link,a:visited,a:hover,a:active{
  text-decoration: none;
}

a:link h1{
  font-size: 5em;
}

a:hover h1{
  font-size: 6em;
}

.music-text{
  color:white;
  position: relative;
  top:140px;
}

.video-text{
  color:white;
  position: relative;
  top:140px;
}

.a-house{
  background-image: url(../img/Guitarflowerbw.jpg);
  background-size: cover;
  height:95%;
  opacity: 0.5;
  margin:2.5%;
  width:45%;
}

.a-house:hover{
  background-image: url(../img/Guitarflower.jpg);
  background-size: cover;
  height:95%;
  opacity: 0.9;
  margin:2.5%;
  width:45%;
}

.b-house{
  background-image: url(../img/Micrightbw.jpg);
  background-size: cover;
  height:95%;
  opacity: 0.5;
  margin:2.5%;
  width:45%;
}

.b-house:hover{
  background-image: url(../img/Micright.jpg);
  background-size: cover;
  height:95%;
  opacity: 0.9;
  margin:2.5%;
  width:45%;
}
