a:link,a:visited,a:hover,a:active{
  text-decoration: none;
}

a:link h1{
  font-size: 5em;
}

a:hover h1{
  font-size: 6em;
}

.music-text{
  color:#000000;
  text-shadow:0.5px 0.5px 2px #fff, 0.5px 0.5px 4px #FAAA03;
  font-size: 25px;
  font-weight: bold;
  position: relative;
}

.video-text{
  color:white;
  position: relative;
  top:140px;
}




.sub-text{

  color: white;
}

.a-house{
  background-image: url(../img/church_bkgd-compressord.jpg);
  background-size: cover;
  height:95%;
  opacity: 0.5;
  margin:2.5%;
  width:45%;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
}

.a-img,.b-img{
  box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
}

.a-house:hover{
  background-image: url(../img/church_bkgd-compressor.jpg);
  background-size: cover;
  height:95%;
  opacity: 0.9;
  margin:2.5%;
  width:45%;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
}

.b-house{
  background-image: url(../img/prayerd.jpg);
  background-size: cover;
  height:95%;
  opacity: 0.5;
  margin:2.5%;
  width:45%;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
}

.b-house:hover{
  background-image: url(../img/prayer.jpg);
  background-size: cover;
  height:95%;
  opacity: 0.9;
  margin:2.5%;
  width:45%;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.2);
}
