body{
	background-image: url(../img/Headset.jpg);
}

.vid-responsive{
  background-color: #38373d;
  background: #38373d;
}

iframe{
  height: 405px;
  width:80%;
  margin: 0 10%;
}

#big-text{
	font-size: 4em;
	font-color:red;
}

#footer{
  height:200px;
  background:0;
}

#footer>div>div>h2{
  color:orange;
  padding-top:20px;
  position:relative;
  top:30px;
}

#footer>div>div>h4{
  color:lightgrey;
  text-align:right;
}


@media screen and (max-width:480px){
	iframe{
		height: 405px;
  		width:90%;
  		margin: 0 5%;
	}
    #big-text{
		font-size: 1.2em;
		font-color:red;
	}
	#small-text{
		font-size:.5em;
	}
}