body{
	background-image:url(../img/Headset.jpg);
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

}

.navbar-nav li a:hover{
  border-top:3px solid orange;
  height: 47px !important;
}

.specs,.vid-responsive{
  background: 0;
}

iframe{
  height: 405px;
  width:720px;
  margin:0;
}

.header1{
	text-align: left;
	font-family: "Trebuchet MS";
	font-size: 50px;
	color: #E0E0E0;
	margin-left: 8%;
	margin-right: 8%;
	border-bottom: solid;
}

.writeup{
	text-align: left;
	font-family: "Trebuchet MS";
	font-size: 13px;
	color: #E0E0E0;
	margin-left: 8%;
	margin-right: 8%;
}

.title{
	margin-top: 1%;
	font-family: "Arial";
	font-size: 14px;
	color: #E3BD6F;
}

.timestamp{
	font-family: "Arial";
	font-size: 9px;
	color: #CCCCCC;
}