h1,p{
  font-family: 'Rajdhani', sans-serif;
}


.navbar-inverse .navbar-nav>li>a {
    color: whitesmoke;
  } 

.navbar-nav>li>a:hover{
  border-top:3px solid #3498db;
  height:47px;
}

.navbar-inverse .navbar-brand {
    color: #FAAA03;
}

.top-section{
  height:1700px;
  background-image: url(../img/GuitarPerson2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top:100px;
}

.my-navbar{
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  border:0;
}

.grey-text{
  color:whitesmoke;
  margin:auto;
  margin-top:200px;
  padding-bottom: 70px;
}

.white-text{
  color:white;
  text-align: center;
}

.carousel{
    height:320px;
}

.centered-width{
  width:60%;
  margin: auto;
}

.trans{
  background-color: rgba(0, 0, 0, 0);
}

h1{
  font-size: 5em;
}

.regulator{
  position: relative;
  height:650px;
}

.granit{
  height: 300px;
  width:300px;
  background-color: #3498db;
  border-radius:50%;
  margin: auto;
  margin-top: 150px;
}

#i-first,#i-second{
  font-size: 15em;
  color:white;
  margin-left: 40px;
  margin-top:40px;
}

.top-text>h1{
  margin-bottom: 50px;
}

.top-text>p{
  height: 100px;
}

.top-text{
  position: absolute;
  top:75%;
}

.p-begin{
  margin-top:20px;
  opacity: 0.6;
  text-align: center;
  font-size:1.3em;
}

.a-button{
  background-color: rgba(0,0,0,0);
  border: 2px solid #3498db;
  border-radius: 10px;
  color:white;
}

.a-button:hover{
  background-color: #3498db;
  color:black;
}

.about-us{
  height:500px;
  padding-top: 70px;
  background-image: url(../img/Mic2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.worship>div{
  height:600px;
  padding-top:80px;
}

.worship>div>div{
  padding-top:80px;
}

.worship-day{
  margin-top: 160px;
  font-size:2em;
  font-weight: bold;
}

.worship-text{
  margin-top: 10px;
  font-size:1.5em;
  font-weight: bold;
  text-decoration: underline;
  color:whitesmoke;
}


.card{
  height:200px;
  width:90%;
  margin:auto;
}

.firstc,.secondc,.thirdc,.fourthc{
  width:100%;
}

.first{
  background-image: url(../img/congregation1.jpg);
}
.first>div>p{
  color: #a0bece;
}
#first-flip>.back{
  background-color: #4f6a7b;
}

.second{
  background-image: url(../img/coza1.jpg);
}
.second>div>p{
  color:#dabfbf;
}
#second-flip>.back{
  background-color: #dabfbf
}

.third{
  background-image: url(../img/prayer1.jpg);
}
.third>div>p{
  color:#768360;
}
#third-flip>.back{
  background-color: #313c1e
}

.fourth{
  background-image: url(../img/concert-silhouette1.jpg);
}
.fourth>div>p{
  color:#bca996;
}
#fourth-flip>.back{
  background-color: #412e1b
}

.flip > .front {
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    -webkit-transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
    transition: transform .3s linear 0s;
    -webkit-transition: transform .3s linear 0s;
    width: 80%;
    height: 100%;
    background-size:cover;
}

.flip > .back {
    position: absolute;
    transform: perspective(600px) rotateY(180deg);
    -webkit-transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    transition: transform .3s linear 0s;
    -webkit-transition: transform .3s linear 0s;
    width: 80%;
    height: 100%;
}

.flip:hover > .front {
    transform: perspective(600px) rotateY(-180deg);
}

.flip:hover > .back {
    transform: perspective(600px) rotateY(0deg);
}

#greeting>div{
  background-color:#38373d;
  padding-top:80px;
  height:500px;
}

#greeting>div>h1{
  margin-bottom:5px;
  color:white;
}

#greeting>div>h3{
  color:#3498db;
  margin-top:0px;
  margin-bottom:50px;
}

#greeting>div>p{
  opacity:0.4;
}

.pro-height{
  height:500px;
  border: 2px solid lightgrey;
  border-left:0;
}

.pro-pic{
  margin:auto;
  height:150px;
  width:150px;
  margin-top:20px;
  -moz-border-radius: 50%;
  -webkit-border-radius:50%;
  border-radius: 50%;
  background-image: url(../img/BroOlu.jpg);
  background-size: cover;
  background-position: center;
}

.pro-text {
  margin-top: 50px;
}

#about>div>div>.about-us>h1{
  color:white;
  margin-bottom:60px;
  text-align:center;
}

#about > div > div > .about-us > h3{
  color:#3498db;
  margin-top:0px;
  margin-bottom:5px;
  text-align:center;
}

#about>div>div>.about-us>p{
  text-align:center;
  opacity:0.5;
  margin-top:10px;
}

.contact-icon{
  position: relative;
  top:100px;
  color: lightgray;
}

.contact-text{
  position: absolute;
  left:100px;
  top:120px;
  color: #58575f;
}

.full{
  height:100%;
  width:100%;
}

#contact>div{
  height:300px;
  background-color:#3498db;
}

#contact>div>div{
  margin:auto;
}

#contact>div>div>div{
  margin:auto;
}

#contact>div>div>div>h1{
  height:100%;
}

.l{
  top:150px;
}

.ad{
  height:100%;
}

ul{
  list-style-type: none;
  display: block;
}

.social{
  display: inline-block;
  float: left;
  margin-left: 5px;
}

.inline-list li .fa {
    display:inline-block;
    position: relative;
    top:111.5px;
    left:-26px;
    width: 77px;
    height: 77px;
    font-size: 25px;
    line-height: 77px;
    text-align: center;
    color: #58575f;
    background: lightgray;
    -moz-border-radius: 50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
}

#copyright>div{
    height:200px;
    background-color:#38373d;
}

#copyright>div>div>h2{
  color:orange;
  padding-top:20px;
  width:50px;
  position: relative;
  top:30;
}

#copyright>div>div>h4{
  color:lightgrey;
  text-align:right;
}


@media screen and (max-width:767px){
  #myCarousel>.carousel-inner>.carousel-text>.trans>h1{
    font-size: 1.5em;
  }
  .info>.container-fluid>.row>.regulator{
    height:250px;
  }
  .info>.container-fluid>.row>.regulator>i{
    font-size:6em;
  }
  .info>.container-fluid>.row>.regulator>div>.white-text{
    height:100px;
    font-size: 2em;
  }
  .p-begin{
    margin-top:0px;
    opacity: 0.6;
    text-align: center;
    font-size:.5em;
    color:black;
  }
  .white-text{
    height:180px;
  }
  .top-section{
    padding-top: 50px;
  }
  .a-button{
    font-size: 1em;
    padding:5px;
    border-width:1px;
  }
  #footer h2,h4{
    font-size:1em;
  }
  .grey-text{
    margin-top: 70px;
  }
  .granit{
  height: 140px;
  width:140px;
  border-radius:50%;
  margin: auto;
  margin-top: 150px;
  }

  #i-first,#i-second{
    font-size: 6em;
    margin-left: 25px;
    margin-top:20px;
  }
  .top-text>h1{
    margin-bottom: 20px;
    height:100px;
  }

  .top-text>.p-begin{
    height: 50px;
    font-size: 1em;
  }

  .top-text>p{
    margin-bottom:20px;
  }

  .top-text{
    position: absolute;
    top:25%;
  }
   #video-gal{
    margin-top:0px;
  }

  #greeting>div>p{
    opacity:0.4;
    font-size:1em;
  }
  .regulator{
    height:570px;
  }
  .worship>div{
    padding-top: 30px;
    height:1050px;
  }
  .worship>div>div{
    padding-top: 40px;
  }
  .flip > .front{
    width:50%;
    margin-left: 25%;
  }
  .flip > .back{
    width:50%;
    margin-left: 25%;
  }
  #about>div>div>.about-us>h1{
    font-size: 4.5em;
  }
  #about>div>div>.about-us>h3{
    font-size: 1.5em;
  }
  #about>div>div>.about-us>p{
    font-size: 1em;
    opacity:0.7; 
  }
  .gallery>div>h1{
    font-size: 4.5em;
  }
  .contact-icon{
    top:20;
  }
  #contact>div>div>div>h1{
    height:20%;
  }
  .contact-text{
    top:40;
  }
  .l{
    top:70;
  }
  .ad{
    height:110px;
  }
  .social{
    margin-left: 35px;
  }

  .inline-list li .fa {
    display:inline-block;
    position: relative;
    top:50;
    left:120;
  }
}

@media screen and (max-width:480px){
  #myCarousel>.carousel-inner>.carousel-text>.trans>h1{
    font-size: 1.5em;
  }
  .info>.container-fluid>.row>.regulator{
    height:250px;
  }
  .info>.container-fluid>.row>.regulator>i{
    font-size:6em;
  }
  .info>.container-fluid>.row>.regulator>div>.white-text{
    height:100px;
    font-size: 2em;
  }
  .p-begin{
    margin-top:0px;
    opacity: 0.6;
    text-align: center;
    font-size:.5em;
  }
  .white-text{
    height:180px;
  }
  .top-section{
    padding-top: 50px;
  }
  .a-button{
    font-size: 1em;
    padding:5px;
    border-width:1px;
  }
  #footer h2,h4{
    font-size:1em;
  }
  .grey-text{
    margin-top: 70px;
  }
  .granit{
  height: 140px;
  width:140px;
  border-radius:50%;
  margin: auto;
  margin-top: 150px;
  }

  #i-first,#i-second{
    font-size: 6em;
    margin-left: 25px;
    margin-top:20px;
  }
  .top-text>h1{
    margin-bottom: 20px;
    height:100px;
  }

  .top-text>.p-begin{
    height: 50px;
    font-size: 1em;
  }

  .top-text>p{
    margin-bottom:20px;
  }

  .top-text{
    position: absolute;
    top:25%;
  }
   #video-gal{
    margin-top:0px;
  }

  #greeting>div>p{
    opacity:0.4;
    font-size:1em;
  }
  .regulator{
    height:570px;
  }
  .worship>div{
    padding-top: 10px;
    height:1050px;
  }
  .worship>div>div{
    padding-top: 20px;
  }
  .flip > .front{
    width:92%;
    margin-left: 0%;
  }
  .flip > .back{
    width:92%;
    margin-left: 0%;
  }
  #about>div>div>.about-us>h1{
    font-size: 4.5em;
  }
  #about>div>div>.about-us>h3{
    font-size: 1.5em;
  }
  #about>div>div>.about-us>p{
    font-size: 1em;
    opacity:0.7; 
  }
  .gallery>div>h1{
    font-size: 4.5em;
  }
  .contact-icon{
    top:20;
  }
  #contact>div>div>div>h1{
    height:20%;
  }
  .contact-text{
    top:40;
  }
  .l{
    top:70;
  }
  .ad{
    height:110px;
  }
  .social{
    margin-left: 35px;
  }

  .inline-list li .fa {
    display:inline-block;
    position: relative;
    top:50;
    left:-26;
  }
}

@media screen and (max-width:425px){
  .a-button{
    margin-top: 15px;
  }
  p.mb-0{
    font-size: .9em;
  }
  p.music-text{
    font-size: 1.3em;
  }
  .social{
    margin-left: 25px;
  }
}

@media screen and (max-width:375px){
  .social{
    margin-left: 10px;
  }
  #gallery>div>h1{
    font-size: 1em;
  }
}

@media screen and (max-width:320px){
  p.mb-0{
    font-size: .8em;
  }
  p.sub-text{
    margin-top: 140px;
  }
  .social{
    margin-left: 10px;
  }
  #gallery>div>h1{
    font-size: .9em;
  }
  .inline-list li .fa {
    height: 60px;
    width: 60px;
  }
  .about-us{
    padding-top: 20px;
  }
  #greeting>div{
    padding-top: 0px;
  }
  .a-button{
    margin-top: 35px;
  }
}

@media screen and (max-width:767px){

}