.navigation{
  padding-top:200px;
  padding-left: 150px;
  height:700px;
  width:100%;
}

.top-section{
  height:1600px;
  background-image: url(../img/Guitarperson2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top:100px;
}

.my-navbar{
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  border:0;
  color:white !important;
}

.nav-narrow{
  padding: 0px 150px;
}

.spacer{
  margin-left: 50px;
}

.grey-text{
  color:grey;
  margin:auto;
  margin-top:250px;
  padding-bottom: 100px;
}

.white-text{
  color:white;
  text-align: center;
}

.centered-width{
  width:60%;
  margin: auto;
}

.trans{
  background-color: rgba(0, 0, 0, 0);
}

h1{
  font-size: 5em;
}

.in-text{
  color:white;
  font-size: 10em;
  text-align: center;
  position: absolute;
  top:26%;
  left:38%;
}

circle{
  position: absolute;
}

.p-begin{
  margin-top:20px;
  opacity: 0.5;
  text-align: left;
}

.a-button{
  background-color: rgba(0,0,0,0);
  border: 2px solid #3498db;
  border-radius: 10px;
  color:white;
}

.a-button:hover{
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius:10px;
  color:black;
}

.about-us{
  height:500px;
  background-image: url(../img/Mic2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact-icon{
  position: relative;
  top:100px;
  color:#58575f;
}

.contact-text{
  position: absolute;
  left:100px;
  top:120px;
}

.full{
  height:100%;
  width:100%;
}

ul{
  list-style-type: none;
  display: block;
}

.social{
  display: block;
  float: left;
  margin: 5px;
}

.inline-list li .fa {
    display: inline-block;
    position: relative;
    width: 77px;
    height: 77px;
    font-size: 25px;
    line-height: 77px;
    text-align: center;
    color: lightgrey;
    background: #58575f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
