body{
  font-family: 'Bitter', serif;
  position:relative;

}

p{
  font-family: 'Rajdhani', sans-serif;
}

.navbar-inverse .navbar-nav>li>a {
    color: whitesmoke;
  }

.navbar-nav>li>a:hover{
  border-top:3px solid #3498db;
  height:47px;
}

.navbar-inverse .navbar-brand {
    color: #FAAA03;
}

.top-section{
  height:1700px;
  background-image: url(../img/GuitarPerson2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top:100px;
}

.my-navbar{
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  border:0;
}

.grey-text{
  color:#033;
  text-shadow:0.5px 0.5px 2px #fff, 0.5px 0.5px 10px #FAAA03;
  margin:auto;
  margin-top:200px;
  padding-bottom: 70px;
}


.white-text{
  color:white;
  text-align: center;
}

.centered-width{
  width:60%;
  margin: auto;
}

.trans{
  background-color: rgba(0, 0, 0, 0);
}

h1{
  font-size: 5em;
}

.regulator{
  position: relative;
}

.regulator i{
  font-size: 15em;
  color:white;
  position:absolute;
  top:26%;
  left:38%;
}

.top-text{
  position: absolute;
  top:75%;
}

.p-begin{
  margin-top:20px;
  opacity: 0.6;
  text-align: center;
  font-size:1.3em;
}

.a-button{
  background-color: rgba(0,0,0,0);
  border: 2px solid #3498db;
  border-radius: 10px;
  color:white;
}

.a-button:hover{
  background-color: #3498db;
  color:black;
}

.about-us{
  height:500px;
  padding-top: 70px;
  background-image: url(../img/Mic2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pro-height{
  height:500px;
  border: 2px solid lightgrey;
  border-left:0;
}

.pro-pic{
  margin:auto;
  height:150px;
  width:150px;
  margin-top:20px;
  -moz-border-radius: 50%;
  -webkit-border-radius:50%;
  border-radius: 50%;
  background-image: url(../img/BroOlu.jpg);
  background-size: cover;
  background-position: center;
}

.pro-text {
  margin-top: 50px;
}

.contact-icon{
  position: relative;
  top:100px;
  color:#58575f;
}

.contact-text{
  position: absolute;
  left:100px;
  top:120px;
}

.full{
  height:100%;
  width:100%;
}

ul{
  list-style-type: none;
  display: block;
}

.social{
  display: inline-block;
  float: left;
  margin-left: 5px;
}

.inline-list li .fa {
    display:inline-block;
    position: relative;
    top:111.5px;
    left:-26px;
    width: 77px;
    height: 77px;
    font-size: 25px;
    line-height: 77px;
    text-align: center;
    color: lightgrey;
    background: #58575f;
    -moz-border-radius: 50%;
    -webkit-border-radius:50%;
    border-radius: 50%;
}

.mySequencedElems {
  visibility: hidden;
}

/**#loader{
  position:absolute;
  left:50%;
  top:50%;
  z-index:1;
  width:150px;
  height:150px;
  border:16px solid #f3f3f3;
  border-top:16px solid #3498db;
  border-radius: 50%;
  -webkit-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}

@-webkit-keyframes spin{
  0%{-webkit-transform: rotate(0deg);}
  100%{-webkit-transform: rotate(360deg);}
}

@keyframes spin{
  0%{-webkit-transform: rotate(0deg);}
  100%{-webkit-transform: rotate(360deg);}
}**/

/**.animate-bottom{
  position:relative;
  -webkit-animation-name:animatebottom;
  -webkit-animation-duration:3s;
  animation-name:animatebottom;
  animation-duration:3s;
}

@-webkit-keyframes animatebottom{
  from{bottom:-100px; opacity:0;}
  to{bottom:0px; opacity:1;}
}

@keyframes animatebottom{
  from{bottom:-100px; opacity:0;}
  to{bottom:0px; opacity:1;}
}

