.navbar-inverse .navbar-nav>li>a {
    color: whitesmoke;
}

.navbar-nav>li>a:hover{
  border-top:3px solid #3498db;
  height:47px;
}

body{
  font-family: Comic Sans MS;
}

.navbar-inverse .navbar-brand {
    color: whitesmoke;
}

.top-section{
  height:1700px;
  background-image: url(../img/Guitarperson2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top:100px;
}

.my-navbar{
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  border:0;
}

.grey-text{
  color:grey;
  margin:auto;
  margin-top:200px;
  padding-bottom: 70px;
}

.white-text{
  color:white;
  text-align: center;
}

.centered-width{
  width:60%;
  margin: auto;
}

.trans{
  background-color: rgba(0, 0, 0, 0);
}

h1{
  font-size: 5em;
}

.regulator{
  position: relative;
}

.regulator i{
  font-size: 15em;
  color:white;
  position:absolute;
  top:26%;
  left:38%;
}

.top-text{
  position: absolute;
  top:75%;
}

.p-begin{
  margin-top:20px;
  opacity: 0.6;
  text-align: center;
  font-size:1.3em;
}

.a-button{
  background-color: rgba(0,0,0,0);
  border: 2px solid #3498db;
  border-radius: 10px;
  color:white;
}

.a-button:hover{
  background-color: #3498db;
  color:black;
}

.about-us{
  height:500px;
  background-image: url(../img/Mic2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact-icon{
  position: relative;
  top:100px;
  color:#58575f;
}

.contact-text{
  position: absolute;
  left:100px;
  top:120px;
}

.full{
  height:100%;
  width:100%;
}

ul{
  list-style-type: none;
  display: block;
}

.social{
  display: inline-block;
  float: left;
  margin-left: 5px;
}

.inline-list li .fa {
    display:inline-block;
    position: relative;
    top:111.5px;
    left:-26px;
    width: 77px;
    height: 77px;
    font-size: 25px;
    line-height: 77px;
    text-align: center;
    color: lightgrey;
    background: #58575f;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
