.specs{
  background-image: url(../img/Micright.jpg);
  background-size: cover;
  background-position: center;
  back
}

.transparency{
  background-color: rgba(0,0,0,0);
  color:white;
}

a:link{
  color:white;
}

a:hover{
  color:white;
}

.vid-responsive{
    overflow:hidden;
    height:0;
    background-color:#ffffff;
    color:black;
    height:400px;
    margin-top:0px;
    text-align: center;
    margin-bottom: 100px;
}

.vid-responsive iframe{
    width:100%;
}
