.specs{
  background-image: url(../img/Micright.jpg);
  background-size: cover;
  background-position: center;
}

.transparency{
  background-color: rgba(0,0,0,0);
  color:white;
}

a:link{
  color:white;
}

a:hover{
  color:white;
}

.vid-responsive{
    overflow:hidden;
    background-color:#ffffff;
    color:black;
    height:600px;
    margin-top:0px;
    text-align: center;
    text-decoration-style: dotted;
    margin-bottom: 100px;
    position: relative;
}

.vid-responsive h1{
  text-decoration-line: underline;
  font-size: 4em;
}

iframe{
  border:0;
  height:400px;
  width:70%;
  margin:0 10% 0 20%;
}
