.specs{
  background:0;
}

body{
  background-image:url(../img/VideoShoot.jpg);
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}

.navbar-nav li a:hover{
  border-top:3px solid white;
}

.transparency{
  background-color: rgba(0,0,0,0);
  color:white;
}

a:link{
  color:white;
}

a:hover{
  color:white;
}

.vid-responsive{
    overflow:hidden;
    background-color:rgba(0,0,0,0);
    color:grey;
    height:600px;
    margin-top:0px;
    text-align: center;
    text-decoration-style: dotted;
    margin-bottom: 100px;
    position: relative;
}

.vid-responsive h1{
  text-decoration-line: underline;
  font-size: 4em;
}

iframe{
  border:0;
  height:400px;
  width:70%;
  margin:0 10% 0 20%;
}

.great-text{
  background-color: rgba(243,243,243,0.5);
  height:600px;
}
